#!/usr/bin/env bash

export PROXMOX_URL="https://proxmox.lan:8006/api2/json"
export PROXMOX_NODE="proxmox"
export PROXMOX_TOKEN_ID="root@pam!packer"
export PROXMOX_TOKEN_SECRET="REDACTED"
export GITHUB_TOKEN="REDACTED"

# Optional overrides.
# export PROXMOX_STORAGE="local"
# export PROXMOX_VERIFY_SSL="false"
# export TEMPLATE_NAME="ubuntu-2204-runner-template"
# export RUNNER_ID_START="200"
# export RUNNER_ID_END="299"
# export RUNNER_NAME_PREFIX="energyplus-runner"
# export REPO_OWNER="NREL"
# export REPO_NAME="EnergyPlus"
# export REPO_URL="https://github.com/NREL/EnergyPlus"
# export RUNNER_LABELS="energyplus,linux,x64,ubuntu-22.04"
# export POLL_INTERVAL="15"
# export USER_DATA_TEMPLATE="runners/ubuntu-2204/cloud-init/runner-user-data.pkrtpl"
